/* color palette */
.risk {
    color:#ff5439;
}

.caution {
    color: #ffca28;
}

.silver {
   color:#C0C0C0;
}

.gold {
    color:#dfc223;
}

.lime {
    color:#64f564;
}

.azure {
    color:#007FFF;
}

.mocca {
    color:#8B4513;
}

.aqua {
    color:#51f3f3;
}

.slate {
    color:#708090;
}

.componentify {
    color: #FD5812;
}

.lollypop {
    color:#f75daa;
}

.mint {
    color:#3EB489;
}

.gloomy {
    color: #292b2e;
}

.fog {
    color:#f8f9fa;
}

.dark {
    color: #000000
}

.win {
    color:#198754;
}

.lavender {
    color: #d6d6fa;
}

.purple {
    color: #a008a0
}



